
.DS_Store
/Sources/ZFile/.sourcery-AutomateZFile.yml
/Sources/ZFile/.sourcery-FoundationGenericHelper.yml
/Sources/ZFile/.sourcery-ZFile.yml
xcuserdata
/Carthage
/Sources/ZFile/.build
/.build
/Sources/Carthage
/.swiftformat.md
/ZFHighwaySetup/Sources/.sourcery-ZFHighwaySetup.yml
/ZFHighwaySetup/Sources/.sourcery-ZFRunner.yml
/ZFile.xcodeproj
/Sources/.sourcery-FoundationGenericHelper.yml
/Sources/.sourcery-ZFile.yml
.build
