
.DS_Store
/Sources/ZFile/.sourcery-AutomateZFile.yml
/Sources/ZFile/.sourcery-FoundationGenericHelper.yml
/Sources/ZFile/.sourcery-ZFile.yml
xcuserdata
/Carthage
/Sources/ZFile/.build
/.build
/Sources/Carthage
