
# Automation

github "antitypical/Result" ~> 4.0
github "nicklockwood/SwiftFormat"

# JWT Token generation

github "Bolides/CupertinoJWT"

# Auto generate Code

github "doozMen/Sourcery" "0.15.1"
github "doozMen/template-sourcery"
