[submodule "Carthage/Checkouts/Quick"]
	url = https://github.com/doozMen/Quick.git
[submodule "Carthage/Checkouts/highway"]
	url = https://github.com/doozMen/highway.git
[submodule "Carthage/Checkouts/Sourcery"]
	url = https://github.com/krzysztofzablocki/Sourcery.git
[submodule "Carthage/Checkouts/TestAppDelegateExample"]
	url = https://github.com/mokacoding/TestAppDelegateExample.git
[submodule "Carthage/Checkouts/template-sourcery"]
	url = https://github.com/doozMen/template-sourcery.git
[submodule "Carthage/Checkouts/Nimble"]
	url = https://github.com/doozMen/Nimble.git
