# Automation

github "doozMen/highway" "v1.2.1"

# Auto generate Code

github "krzysztofzablocki/Sourcery" "0.15.0"
github "doozMen/template-sourcery" "v1.0"


# Testing

github "doozMen/Quick" "feature/v1.3.2-withoutWarnings"
github "doozMen/Nimble" "feature/v7.3.1-withoutWarnings"

# TestAppdelegate

github "mokacoding/TestAppDelegateExample" "master"
